@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-image: url("./img/4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  backdrop-filter: blur(4px);
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(177, 216, 255, 0.337);
  backdrop-filter: blur(6px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7),
    -10px -10px 20px rgba(255, 255, 255, 0.1) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1000;
}

/* Navbar link styles */
.navbar a {
  color: #fff; /* Text color */
  text-decoration: none;
  padding: 10px 15px;
}

/* Navbar hover effect */
.navbar a:hover {
  color: #f0f0f0;
}

#balance,
#deposit,
#withdraw {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 80px 90px rgba(0, 0, 0, 0.905);
  font-family: "Didact Gothic", sans-serif;
}
